.line-typography-frame-info-page-main {
    background-image: url('../../assets/images/backgrounds/purple_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;                
    height: auto;     
    overflow: auto;
    display: block;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5%;
}

.content {
    margin-top: 100px; /* Adds space below the header if needed */
    padding: 20px;
    text-align: left; /* Prevents centering of content */
  }

.line-typography-frame-info-page-content {
    display: grid;
    place-items: center;
}